body{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); 
} 
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #000957; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    
  }
  
  input[type=submit] {
    background-color: #24b1fd;
    color: rgb(47, 21, 197);
    padding: 20px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
    
  }
  
 
  input[type=submit]:hover {
    background-color: #94DAFF;
  }
  
  .container {
    border-radius: 2px;
    
    padding: 20px;
  }
  .main{
    border: none;
    margin-left: 300px;
    margin-right: 300px;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); 
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    margin-top:100px ;
    min-width: 600px;
    padding: 25px 50px 75px;
    font-family: 'PT Serif', serif;
  }

  input, select, textarea{
    color: #000;
}