@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    --main-bg-color: #7267CB;
  }

*{
    padding: 0;
    margin: 0;
}


body {
    background-image: #FFAFAF;
}

.main{
    background-color:#6E3CBC ;
    min-height: fit-content;
}


@keyframes load {
    0%{
        width: 0;
        
    } 
    50%{
        width: 90vw;
    } 
    100%{
        width: 100vw;
    }  
}

 .progress{
     background-color: red;
     height: 2px;
     animation: load 1s ease-in-out 1 normal;
    
 }

header{
    background: var(--main-bg-color); 
    font-family: 'Lato', sans-serif;
    position: sticky;
    top: 0%;
}

nav{
    display:flex;
   
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 88px;
    padding: 0 25px;
}

nav ul{
    display: flex;
    height: 58px;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none; 
    padding: 0 23px; 
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{ 
    font-weight: bolder;
}

.search{
    display: flex;
    align-items: center;
}

.search input{
    width: 30vw;
    height: 27px;
    border-radius: 5px;
    margin: 0 16px 0 56px;
    padding:0 12px;
}

.search button{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
.search button:hover{
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    border-color: #f1f1c0;
    box-shadow: 0 0.5em 0.5em -0.4em #16c3f7;
    transform: translateY(-0.05em);
}

.login{
    margin:auto 350px;
}

.login:hover{
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    border-color: #f1f1c0;
    box-shadow: 0 0.5em 0.5em -0.4em #16c3f7;
    transform: translateY(-0.05em);
}

.content{ 
   display: block;
    overflow: hidden;
}

.slider{ 
    width: 80vw;
    margin: 12px auto;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.img1{
    transform: translate(-8vw);
    animation: slide1 3s ease-in-out infinite forwards; 
}

.img2{
    transform: translate(0vw);
    animation: slide2 3s ease-in-out infinite forwards; 
}
.img3{
    transform: translate(8vw);
}


@keyframes slide1 {
    0%{
        transform: translate(-8vw);
    }

    100%{
        transform: translate(85vw);
    }
}

@keyframes slide2 {
    0%{
        transform: translate(0vw);
    }
    
    100%{
        transform: translate(92vw);
    }
}


.card{
    max-width: 91vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
}

.cards{
    display: flex; 
    overflow: hidden;
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
}

.card h2{
    font-family: 'Lato', sans-serif;
}

.container{
    min-height: calc(100vh - 58px - 12vh);
}

.footer{
    height: 12vh;
    background-color: var(--main-bg-color); 
    color: white;
    font-family: 'Lato', sans-serif;
    width:1500px;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius:25px;
  }